<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Estadísticas de distribución de trabajo</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-history">
            <div class="panel-heading">
                <span>Distribución global</span>
            </div>
            <div class="panel-body">
                <div id="global"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-history">
            <div class="panel-heading">
                <span>Carga de trabajo por técnico</span>
            </div>
            <div class="panel-body">
                <svg id="workload"></svg>
            </div>
        </div>
    </div>
</div>   
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-history">
            <div class="panel-heading">
                <span>Histórico de peticiones</span>
            </div>
            <div class="panel-body">
                <svg id="requests"></svg>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-history">
            <div class="panel-heading">
                <span>Histórico de resultados de pruebas</span>
            </div>
            <div class="panel-body">
                <svg id="tests"></svg>
            </div>
        </div>
    </div>
</div>    
