// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

.panel-heading a {
	color: white;
}

.panel-heading{
	.panel-title a{
		color: #333;
	}
}

.panel-opt {
	background-color: #5cb85c;
	color: white;

	.panel-body {
		background-color: white;
		color: #333;
	}
}

.panel-old {
	background-color: #d9534f;
	color: white;

	.panel-body {
		background-color: white;
		color: #333;
	}
}

.panel-history {
	background-color: #f0ad4e;
	color: white;

	.panel-body {
		background-color: white;
		color: #333;
	}
}
.inline-h4 {
	display: inline-block;
}

.date-select { 
    display: inline-block;
    width: 32%;
}

.col-pad-bot-5 { 
    padding-bottom: 5px;
}

.pad-top-10 { 
    padding-top: 10px;
}

.inline-flex {
	display: inline-flex;
}

.bar { fill: steelblue; }
