<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body onload='number_pages'>
    <div class="report">
      <div class="row">
        <div class="col-lg-12 logo">
        </div>
      </div>
      <div id="title">
        <span class="title">Informe de Recomendaciones</span>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>